@import "./settings/aa_reset";
@import "./settings/App";
@import "./settings/button";
@import "./settings/colors";
@import "./settings/Container";
@import "./settings/fonts";
@import "./settings/form";

@import "./settings/LocationForm";

@import "./settings/locationCard";
@import "./settings/Location";
@import "./settings/Searcher";
@import "./settings/Navbar";
@import "./settings/Profile";
@import "./settings/AdminPanel";
@import "./settings/Map";
@import "./settings/LocationsMapView";

@import "./settings/specials";
@import "./settings/footer";