/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body,
input,
select,
textarea,
button {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Poppins", sans-serif;
}

a:active, a:visited {
  color: inherit;
}

:root {
  --primary: #262049;
  --mid: #5d77f7;
  --light: #c1c8ff;
  --contrast: #00ffb3;
  --grey: #e4e6ec;
  --white: #ffffff;
  --primary-medium: #27187ecc;
  --mid-medium: #758cfdcb;
  --light-medium: #c1c8ffcc;
  --contrast-medium: #ff0095bb;
  --grey-medium: #e4e6ecbb;
  --white-medium: #ffffffb9;
  --primary-soft: #27187e86;
  --mid-soft: #758cfda6;
  --light-soft: #c1c8ff8c;
  --contrast-soft: #ff009588;
  --grey-soft: #e4e6ec98;
  --white-soft: #ffffff98;
}

.card {
  background-color: var(--grey-medium);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 0px 50px -8px #000000;
          box-shadow: 5px 0px 50px -8px #000000;
}

.card__picture {
  margin: 10px 0;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__info {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__name {
  color: var(--mid);
  font-size: 15px;
  text-align: start;
}

.card__description {
  color: var(--primary-medium);
  margin-top: 5px;
  font-size: 12px;
  text-align: justify;
}

.card__button-area {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Location {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--blue-light-soft);
  padding-bottom: 40px;
}

.Location__slider {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Location__header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
}

.Location__back {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Location__avatar {
  margin: 0 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--blue-light-soft);
}

.Location__card {
  position: relative;
  width: 90%;
  margin: 40px auto;
  padding: 15px;
  color: var(--blue-dark);
  border-radius: 10px;
  border: 1px solid var(--blue-mid-soft);
}

.Location__title {
  width: 85%;
  line-height: 1.2;
  margin-bottom: 10px;
}

.Location__icon {
  color: var(--orange);
  font-size: 35px;
  margin: 0 10px;
}

.Location__rating {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Location__ubi {
  color: var(--orange);
  font-size: 11px;
}

.Location__hours {
  margin-top: 10px;
  width: 80%;
  overflow: hidden;
}

.Location__accordion {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 45px;
  padding: 7px 15px;
  background-color: var(--blue-dark);
}

.Location__accordion_icon {
  position: absolute;
  top: 7px;
  right: 18px;
  color: var(--orange);
  font-size: 20px;
}

.Location__accordion_tag {
  font-weight: 400;
  color: var(--orange);
}

.Location__description {
  padding: 15px;
  font-size: 15px;
}

.show {
  width: 90%;
  height: auto;
  max-height: 2000px;
  margin: 40px auto;
  color: var(--blue-dark);
  border-radius: 10px;
  border: 1px solid var(--blue-mid-soft);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hide {
  width: 90%;
  max-height: 85px;
  margin: 40px auto;
  color: var(--blue-dark);
  border-radius: 10px;
  border: 1px solid var(--blue-mid-soft);
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pd-0 {
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  width: 25%;
  padding: 20px 0;
  text-decoration: none;
  text-align: center;
}

.navbar__link:visited {
  color: inherit;
}

.navbar__link:hover {
  background-color: white;
}

.profile {
  padding: 20px;
  color: var(-primary);
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.profile-header__greeting {
  font-size: 40px;
  font-weight: bold;
}

.profile-header__avatar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.admin-panel {
  padding: 20px;
  color: var(-primary);
  position: relative;
}

.admin-panel__add-icon {
  position: fixed;
  bottom: 25px;
  font-size: 50px;
  border-radius: 50%;
  background-color: var(--mid);
  color: var(--grey);
}

.admin-panel__location-block {
  border-radius: 10px;
  border: 1px solid var(--light);
  padding: 5px 10px;
}

.admin-panel__location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.admin-panel__location--name {
  font-weight: normal;
}

.admin-panel__location--icons {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.admin-panel__location--icons * {
  color: var(--mid);
}

.d-none {
  display: none;
}

.mb-10 {
  margin-bottom: 100px;
}

.active {
  left: 0;
}

.bg-n {
  background: none;
}

.bg-1 {
  background: linear-gradient(40deg, var(--orange-hard), var(--sky-hard));
}

.bg-2 {
  background: linear-gradient(165deg, var(--white-hard), var(--grey-soft));
}

.bg-3 {
  background: linear-gradient(210deg, var(--violet-soft), var(--orange-soft));
}

.bg-4 {
  background: linear-gradient(210deg, var(--yellow-soft), var(--sky-soft));
}

.bg-5 {
  background: linear-gradient(325deg, var(--sky-hard), var(--violet-medium));
}

.bg-6 {
  background: linear-gradient(40deg, var(--violet-medium), var(--yellow-soft));
}
/*# sourceMappingURL=index.css.map */