:root {

    --sky-hard: #a7a2f7;
    --blue-hard: #5a4fef;
    --violet-hard: #661d96;
    --dark-hard: #282d53;
    --pink-hard: #EF4F9B;
    --orange-hard: #f89c5f;
    --yellow-hard: #efec4f;
    --grey-hard: #eeeeee;
    --gray-hard: #bdbdbd;
    --white-hard: #FFFFFF;

    --sky-medium: #a8a2f7cb;
    --blue-medium: #5a4fefce;
    --violet-medium: #661d96b0;
    --dark-medium: #15182dd0;
    --pink-medium: #ef4f9ac9;
    --orange-medium: #f89c5fb6;
    --yellow-medium: #efec4fce;
    --grey-medium: #eeeeeed7;
    --gray-medium: #bdbdbdc9;
    --white-medium: #ffffffab;


    --sky-soft: #a8a2f7a4;
    --blue-soft: #5a4fef;
    --violet-soft: #661d967a;
    --dark-soft: #15182D;
    --pink-soft: #EF4F9B;
    --orange-soft: #f89c5f60;
    --yellow-soft: #efec4f98;
    --grey-soft: #eeeeee;
    --gray-soft: #bdbdbd86;
    --white-soft: #ffffff88;

    
   }