:root {

    --primary: #1f3294;
    --mid: #5d77f7;
    --light: #c1c8ff;
    --contrast: #2a262e;

    --grey: #e4e6ec;
    --white: #ffffff;

    --primary-medium: #27187ecc;
    --mid-medium: #758cfdd8;
    --light-medium: #c1c8ffcc;
    --contrast-medium: #ff0095bb;

    --grey-medium: #e4e6ecbb;
    --white-medium: #ffffffb9;

    --primary-soft: #27187e86;
    --mid-soft: #758cfd63;
    --light-soft: #c1c8ff65;
    --contrast-soft: #ff009588;

    --grey-soft: #e4e6ec98;
    --white-soft: #ffffff98;

    
   }