:root {

    --blue-dark: #27187E;
    --blue-mid: #758BFD;
    --blue-light: #c1c8ff;
    --orange: #FF8600;
    --grey: #e4e6ec;
    --white: #ffffff;

    --blue-dark-medium: #27187ecc;
    --blue-mid-medium: #758cfdcb;
    --blue-light-medium: #c1c8ffcc;
    --orange-medium: #ff8800b9;
    --grey-medium: #e4e6ecbb;
    --white-medium: #ffffffb9;

    --blue-dark-soft: #27187e86;
    --blue-mid-soft: #758cfda6;
    --blue-light-soft: #c1c8ff8c;
    --orange-soft: #ff8800a1;
    --grey-soft: #e4e6ec98;
    --white-soft: #ffffff98;

    
   }