.Footer {
    width: 100%;
    padding: 5px;
    padding-top: 20px;
    background-color: var(--grey-soft);
    color: var(--primary);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__card {
        width: 90%;
        margin: 3px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icon {
        margin-left: 4px;
        text-align: center;
        font-size: 25px;
    }

    &__link {
        width: 60px;
        text-align: center;
        color: var(--primary);
        font-size: 12px;
    }

    &__date {
        font-size: 12px;
        text-align: center;
    }
}