.navbar {
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;

    &__link {
        width: 25%;
        padding: 20px 0;
        text-decoration: none;
        text-align: center;

        &:visited {
            color: inherit;
        }

        &:hover {
            background-color: white;
        }
    }
}