.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__greeting {
        font-size: 40px;
        font-weight: bold;
    }

    &__avatar {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
